head
 block title
  meta(charset="UTF-8")
  base(href="/")
  title Jade Starter
  link(rel="stylesheet",href="css/main.css")
  link(rel="stylesheet",href="https://bootswatch.com/flatly/bootstrap.min.css")
  link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
